@media screen and (max-width: 1085px) {
  .main__image img {
    width: 100%;
  }
  .what-we-do__option {
    list-style-type: none;
    width: 210px;
    height: 205px;
  }
  .description {
    font-size: 17px;
  }
  .container,
  .why-choose-us__container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .what-we-do__funnel img {
    width: 100%;
    height: auto;
  }
  .why-choose-us__bulb img {
    width: 100%;
    height: auto;
  }
  .why-choose-us__info {
    margin-top: 30px;
    margin-left: -12px;
    max-width: 465px;
  }
}
@media screen and (max-width: 980px) {
  .what-we-do__options {
    position: relative;
    z-index: 1;
  }
  .what-we-do__funnel {
    position: relative;
    margin-left: 0;
    z-index: -1;
  }
  .what-we-do__funnel img {
    width: 404px;
  }
  .why-choose-us__bulb img {
    width: 404px;
  }
  .what-we-do__option {
    list-style-type: none;
    width: 386px;
    height: 117px;
  }
}
@media screen and (max-width: 1061px) {
  .what-we-do__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .what-we-do__funnel img {
    width: 50%;
  }
  .what-we-do__title {
    text-align: center;
    margin-left: 0;
  }
  .what-we-do__funnel {
    display: flex;
    justify-content: center;
    order: 2;
  }
  .what-we-do__options {
    display: flex;
    justify-content: center;
    margin-left: 0;
    order: 1;
  }
  .why-choose-us__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .why-choose-us__bulb {
    order: 2;
  }
  .why-choose-us__bulb img {
    margin-top: 80px;
  }
}
